*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* links */

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/* common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

ul {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* forms */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("../fonts/Akrobat-Bold.woff2") format("woff2"), url("../fonts/Akrobat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("../fonts/Akrobat-ExtraBold.woff2") format("woff2"), url("../fonts/Akrobat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("../fonts/Akrobat-SemiBold.woff2") format("woff2"), url("../fonts/Akrobat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("../fonts/Akrobat-Regular.woff2") format("woff2"), url("../fonts/Akrobat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.no-webp .hero {
  background-image: url("../img/hero_bg.jpg"); }

.hero {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  overflow: hidden;
}

.hero__container {
  padding-top: 50px;
}

.hero .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 150px;
}

.hero .menu__item:not(:last-child) {
  margin-right: 85px;
}

.hero .menu__link {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.hero .menu__link:hover {
  color: #ffffff;
}

.hero__texts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  margin-bottom: 95px;
}

.hero__bg-text {
  position: absolute;
  top: 195px;
  left: -27%;
  font-size: 114px;
  font-weight: 700;
  line-height: 70px;
  white-space: nowrap;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 0.1;
}

.hero__text-box-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 800px;
          flex: 0 1 800px;
}

.hero__title {
  font-size: 84px;
  font-weight: 500;
  line-height: 80px;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.hero__title span {
  font-weight: 800;
}

.hero__date {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}

.hero__text-box-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 543px;
          flex: 0 1 543px;
}

.hero__desc {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 91px;
}

.hero__btn {
  position: relative;
}

.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.0901960784);
  -webkit-backdrop-filter: blur(40.7742px);
          backdrop-filter: blur(40.7742px);
  padding-top: 38px;
  padding-bottom: 39px;
}

.hero__info-box-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
  margin-right: 100px;
}

.hero__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__members span:last-child {
  font-weight: 800;
}

.hero__duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__duration span:last-child {
  font-weight: 800;
}

.hero__info-box-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
}

.hero__coverage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__pr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__info-box-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.hero__info-box-3 .hero__btn {
  display: none;
}

.hero__arrow-down {
  background: rgba(255, 255, 255, 0.0588235294);
}

.height {
  overflow: hidden;
}

.height__container {
  padding-bottom: 80px;
}

.no-webp .height__header {
  background-image: url("../img/molochnyi-dom.png"); }

.height__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 329px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 61px;
  background-repeat: no-repeat;
  background-position: center;
}

.height__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
}

.no-webp .height__img {
  background-image: url("../img/stair.png"); }

.height__img {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 60px;
}

.height__texts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 80px;
}

.height__texts p {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 460px;
          flex: 0 1 460px;
}

.height__texts span {
  font-weight: 600;
}

.height__separator {
  position: relative;
  margin-bottom: 80px;
}

.height__separator .arrow-down {
  background-image: -o-linear-gradient(311.09deg, rgba(0, 21, 177, 0.2) 23.29%, rgba(195, 2, 213, 0.2) 88.99%);
  background-image: linear-gradient(138.91deg, rgba(0, 21, 177, 0.2) 23.29%, rgba(195, 2, 213, 0.2) 88.99%);
}

.height__separator hr {
  position: absolute;
  top: 50%;
  left: 84px;
  width: 200%;
  height: 1px;
  background-image: -o-linear-gradient(311.09deg, rgba(0, 21, 177, 0.5) 23.29%, rgba(195, 2, 213, 0.5) 88.99%);
  background-image: linear-gradient(138.91deg, rgba(0, 21, 177, 0.5) 23.29%, rgba(195, 2, 213, 0.5) 88.99%);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.height__img-mobile {
  display: none;
}

.height__img-mobile img {
  width: 100%;
}

.height__texts-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  gap: 50px;
}

.height__texts-2 p {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.height__texts-2 p:last-child {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.height__title-2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 50px;
}

.height__img-2 {
  width: 150%;
}

.no-webp .about {
  background-image: url("../img/section-2.png"); }

.about {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.about__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about__box-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 50px;
  margin-bottom: 80px;
}

.about__box-1 h3 {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 64px;
  font-weight: 500;
  line-height: 60px;
  text-transform: uppercase;
  text-align: right;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -o-linear-gradient(306.95deg, #EAA853 20.13%, #984860 85.02%);
  background-image: linear-gradient(143.05deg, #EAA853 20.13%, #984860 85.02%);
}

.about__box-1 h3 span {
  font-weight: 700;
}

.about__box-2 p {
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
  margin-bottom: 50px;
}

.about__box-2 p:last-child {
  margin-bottom: 0;
}

.about__arrow-down {
  position: relative;
  justify-self: flex-end;
  translate: -50px;
  background-image: -o-linear-gradient(311.09deg, rgba(0, 21, 177, 0.2) 23.29%, rgba(195, 2, 213, 0.2) 88.99%);
  background-image: linear-gradient(138.91deg, rgba(0, 21, 177, 0.2) 23.29%, rgba(195, 2, 213, 0.2) 88.99%);
}

.about__arrow-down hr {
  position: absolute;
  top: 50%;
  right: 84px;
  width: 1000px;
  height: 1px;
  background-image: -o-linear-gradient(311.09deg, rgba(0, 21, 177, 0.5) 23.29%, rgba(195, 2, 213, 0.5) 88.99%);
  background-image: linear-gradient(138.91deg, rgba(0, 21, 177, 0.5) 23.29%, rgba(195, 2, 213, 0.5) 88.99%);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.about__btn {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.about__box-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 150px;
}

.about__box-3 p {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 50px;
}

.about__box-3 p:last-child {
  margin-bottom: 0;
}

.about__box-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border: 1px solid #ffffff;
  border-right: none;
  padding: 50px;
}

.about__box-4 p:first-child {
  font-size: 64px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}

.about__box-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  border: 1px solid #ffffff;
  padding: 50px;
}

.about__box-5 p:first-child {
  font-size: 64px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
}

.about__box-5 p:nth-child(2) {
  color: #EFC348;
}

.about .box-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin-bottom: 100px;
}

.about .box-6__item {
  position: relative;
  width: 300px;
  height: 190px;
  background-color: rgba(255, 255, 255, 0.0862745098);
  border-radius: 7px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  padding: 30px;
}

.about .box-6__item:first-child {
  font-size: 54px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  padding: 0;
  background-color: unset;
  border-radius: 0;
}

.about .box-6__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .box-6__item:nth-child(8) {
  position: relative;
}

.about .box-6__item:nth-child(8) svg {
  position: absolute;
  right: 10px;
  bottom: 0;
}

.about .box-6__item:nth-child(8) .btn {
  display: none;
}

.about .box-6__item span {
  position: absolute;
  right: 10px;
  bottom: -21px;
  font-size: 220px;
  font-weight: 800;
  line-height: 220px;
  opacity: 0.08;
}

.about .box-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 80px;
  border: 1px solid #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about .box-7__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.about .box-7__text-1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  white-space: nowrap;
}

.about .box-7__text-1 span {
  font-weight: 700;
}

.about .box-7__text-2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.mass-media__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.mass-media__title {
  font-size: 54px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.mass-media__texts-1 > p {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 35px;
}

.mass-media__box-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 50px;
}

.mass-media__box-1 span {
  font-weight: 700;
}

.mass-media__box-2 p:first-child {
  margin-bottom: 50px;
}

.mass-media .box-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 35px;
  margin-bottom: 50px;
}

.mass-media .box-3__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 141px;
          flex: 0 0 141px;
  margin-right: 35px;
}

.mass-media .box-3__item:last-child {
  margin-right: 0;
}

.mass-media .box-3__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 108px;
  height: 108px;
  background-image: -o-linear-gradient(306.95deg, rgba(234, 168, 83, 0.78) 20.13%, rgba(152, 72, 96, 0.78) 85.02%);
  background-image: linear-gradient(143.05deg, rgba(234, 168, 83, 0.78) 20.13%, rgba(152, 72, 96, 0.78) 85.02%);
  border-radius: 50%;
  margin-bottom: 20px;
}

.mass-media .box-3__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.mass-media .box-3__text span {
  font-weight: 700;
}

.mass-media__box-4 > p {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 35px;
}

.mass-media__box-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-bottom: 50px;
}

.mass-media__box-5 p {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.mass-media__box-5 p span {
  font-weight: 700;
}

.mass-media .box-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 35px;
}

.mass-media .box-6__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 141px;
          flex: 0 0 141px;
  margin-right: 20px;
}

.mass-media .box-6__item:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  margin-right: 0;
  padding-top: 30px;
}

.mass-media .box-6__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 108px;
  height: 108px;
  background-image: -o-linear-gradient(306.95deg, rgba(234, 168, 83, 0.78) 20.13%, rgba(152, 72, 96, 0.78) 85.02%);
  background-image: linear-gradient(143.05deg, rgba(234, 168, 83, 0.78) 20.13%, rgba(152, 72, 96, 0.78) 85.02%);
  border-radius: 50%;
  margin-bottom: 20px;
}

.mass-media .box-6__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.mass-media .box-6__text span {
  font-weight: 700;
}

.no-webp .footer {
  background-image: url("../img/footer_bg.jpg"); }

.footer {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  padding-top: 80px;
  padding-bottom: 176px;
}

.footer__box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  font-size: 54px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}

.footer__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__form input {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.0901960784);
  border-radius: 5px;
  margin-bottom: 28px;
  padding: 0 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  color: #ffffff;
}

.footer__form input::-webkit-input-placeholder {
  color: #E9F1FF;
}

.footer__form input::-moz-placeholder {
  color: #E9F1FF;
}

.footer__form input:-ms-input-placeholder {
  color: #E9F1FF;
}

.footer__form input::-ms-input-placeholder {
  color: #E9F1FF;
}

.footer__form input::placeholder {
  color: #E9F1FF;
}

.footer__form input:focus {
  background-color: transparent;
  outline: 2px solid #EFC247;
}

.footer__form input:nth-child(4) {
  margin-bottom: 0;
}

.footer__form input.error {
  outline: 2px solid #ef4747;
}

.footer__form .btn {
  position: absolute;
  bottom: -96px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer__success-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 216px;
}

.footer__info {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.footer__info a {
  text-decoration: underline;
}

.footer__info-mobile {
  display: none;
}

body {
  font-family: Akrobat;
  font-size: 16px;
  color: #ffffff;
  background-color: #010F29;
}

.container {
  max-width: 1080px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.side-padding-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.btn {
  width: 200px;
  height: 61px;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  color: #010F29;
  padding: 0 20px;
  background-image: -o-linear-gradient(306.95deg, #FCA82D 20.13%, #EFC449 85.02%);
  background-image: linear-gradient(143.05deg, #FCA82D 20.13%, #EFC449 85.02%);
  border-radius: 30px;
}

.arrow-down {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  fill: #EFC449;
}

@media (max-width: 991px) {
  .hero .menu {
    display: none;
  }

  .hero__texts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 25px;
  }

  .hero__text-box-1 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-bottom: 80px;
  }

  .hero__text-box-2 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .hero__desc {
    margin-bottom: 0;
  }

  .hero__btn {
    display: none;
  }

  .hero__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: none;
    -webkit-backdrop-filter: unset;
            backdrop-filter: unset;
    padding-top: 0;
    padding-bottom: 100px;
    max-width: 550px;
  }

  .hero__info-box-1 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-right: 0;
    margin-bottom: 25px;
  }

  .hero__info-box-2 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-bottom: 50px;
  }

  .hero__info-box-3 {
    margin-left: 0;
  }

  .hero__info-box-3 .hero__btn {
    display: block;
    width: 100%;
  }

  .hero__arrow-down {
    margin-left: 10px;
  }

  .height__header {
    margin-left: -20px;
    margin-right: -20px;
  }

  .height__texts {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 50px;
  }

  .height__separator .arrow-down {
    display: none;
  }

  .height__separator hr {
    left: -20px;
  }

  .height__img-mobile {
    display: block;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 80px;
  }

  .height__texts-2 p:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .height__texts-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    padding-top: 80px;
  }

  .height__img-2 {
    display: none;
  }

  .about__box-1 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .about__box-1 h3 {
    justify-self: flex-start;
    text-align: left;
  }

  .about__arrow-down {
    display: none !important;
  }

  .about__btn {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .about__box-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__box-4 {
    border-right: 1px solid #ffffff;
    border-bottom: none;
  }

  .about .box-6__item:first-child {
    width: 100%;
  }

  .about .box-6__item:last-child {
    display: none;
  }

  .about .box-6__item:nth-child(8) .btn {
    display: block;
    position: absolute;
    bottom: -30px;
  }

  .about .box-6__item:nth-child(8) {
    width: 100%;
  }

  .about .box-7 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .mass-media__box-1 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .mass-media__box-5 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .height__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .about__btn {
    width: 100% !important;
  }

  .about .box-6__item:first-child {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .about .box-6__item {
    width: 194px;
    font-size: 16px;
    line-height: 22px;
  }

  .footer__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 50px;
    padding-bottom: 80px;
  }

  .footer__form input {
    font-size: 20px;
  }

  .footer__form .btn {
    width: 100%;
  }

  .footer__success-text {
    padding-bottom: 0;
  }

  .footer__info {
    display: none;
  }

  .footer__info-mobile {
    display: block;
    margin-top: 96px;
  }

  .side-padding-50 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 590px) {
  .hero__title {
    font-size: 50px;
  }
}

@media (max-width: 530px) {
  .about .box-6__item:first-child {
    font-size: 38px;
  }

  .about .box-6__item {
    width: 100%;
  }

  .mass-media__title {
    font-size: 38px;
  }
}

@media (max-width: 445px) {
  .hero__title {
    font-size: 35px;
    line-height: 50px;
  }

  .hero__info {
    font-size: 16px;
  }

  .height__title-2 {
    font-size: 50px;
  }

  .about__box-1 h3 {
    font-size: 50px;
  }

  .about__box-2 p {
    font-size: 30px;
  }
}

@media (max-width: 390px) {
  .hero__info {
    font-size: 14px;
  }
}

.webp .hero { background-image: url(../img/hero_bg.webp); }

.webp .height__header { background-image: url(../img/molochnyi-dom.webp); }

.webp .height__img { background-image: url(../img/stair.webp); }

.webp .about { background-image: url(../img/section-2.webp); }

.webp .footer { background-image: url(../img/footer_bg.webp); }