$white: #ffffff;
$white-0_05per: #ffffff0f;
$white-0_08per: #ffffff16;
$white-0_09per: #ffffff17;

$light_blue: #e9f1ff;
$blue: #010f29;
$blue-0_2per: #0015b133;
$blue-0_5per: #0015b180;

$orange-1: #fca82d;
$orange-2: #efc449;
$orange-3: #eaa853;
$orange-0_7per: #eaa853c7;

$pink: #984860;
$pink-0_2per: #c302d533;
$pink-0_5per: #c302d580;
$pink-0_7per: #984860c7;

$yellow: #efc348;
$yellow-2: #ecf247;

$red: #ef4747;