.footer {
    background-image: url('../img/footer_bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        padding-top: 80px;
        padding-bottom: 176px;

        @media (max-width: 768px) {
            & {
                grid-template-columns: 1fr;
                row-gap: 50px;
                padding-bottom: 80px;
            }
        }
    }

    &__texts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        font-size: 54px;
        font-weight: 700;
        line-height: 50px;
        text-transform: uppercase;
    }

    &__form {
        position: relative;
        display: flex;
        flex-direction: column;

        input {
            height: 60px;
            background-color: $white-0_09per;
            border-radius: 5px;
            margin-bottom: 28px;
            padding: 0 20px;
            font-size: 24px;
            font-weight: 400;
            line-height: 35px;
            color: $white;

            &::placeholder {
                color: $light_blue;
            }

            &:focus {
                background-color: transparent;
                outline: 2px solid $yellow-2;
            }

            &:nth-child(4) {
                margin-bottom: 0;
            }

            &.error {
                outline: 2px solid $red;
            }

            @media (max-width: 768px) {
                & {
                    font-size: 20px;
                }
            }
        }

        .btn {
            position: absolute;
            bottom: -96px;
            align-self: flex-end;

            @media (max-width: 768px) {
                & {
                    width: 100%;
                }
            }
        }
    }

    &__success-text {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        padding-bottom: 216px;

        @media (max-width: 768px) {
            & {
                padding-bottom: 0;
            }
        }
    }

    &__info {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;

        a {
            text-decoration: underline;
        }

        @media (max-width: 768px) {
            & {
                display: none;
            }
        }
    }

    &__info_mobile {
        display: none;

        @media (max-width: 768px) {
            & {
                display: block;
                margin-top: 96px;
            }
        }
    }
}