@import "reset";
@import "fonts";
@import "colors";
@import "hero";
@import "start";
@import "about";
@import "mass-media";
@import "footer";

body {
    font-family: Akrobat;
    font-size: 16px;
    color: $white;
    background-color: $blue;
}

.container {
    max-width: 1080px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.side-padding-50 {
    padding-left: 50px;
    padding-right: 50px;

    @media (max-width: 768px) {
        & {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}

.btn {
    width: 200px;
    min-height: 61px;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    color: $blue;
    padding: 10px 20px;
    background-image: linear-gradient(143.05deg, $orange-1 20.13%, $orange-2 85.02%);
    border-radius: 30px;
}

.arrow-down {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    fill: $orange-2;
}